.colorado{
    background-color:azure;
  /*  background-color:#f3f7f7;*/
}

.navv{
    color:whitesmoke;
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 20px;
    border-radius: 0%;
}

a:link{
    color:white;
        text-decoration:none;
    }
    a:visited{
        text-decoration:none;
        color:white;
  
    }
        a:hover{
        text-decoration:none;
        color:white;
    }
    a:active{
        text-decoration:none;
        color:white;
    }

.one{
    background:linear-gradient(140deg,#193b84 15%,#037bc1);
    color:white;
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 10px;
    padding:10px 10px 10px 10px;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
}

#name{

    font-size:50px;
    font-weight:10px;
    color:#193b84;
   /* font-family: 'Pacifico', cursive;
    font-family: 'Pacifico', cursive;*/
    font-family: 'Fugaz One', cursive;

}



#nest{

    font-size:30px;
    font-weight:10px;
    color:black;
   /* font-family: 'Pacifico', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Fugaz One', cursive;*/
    font-family: 'Staatliches', cursive;
   /* background-color:white;*/
    padding: 10px 10px 10px 10px;
    text-align:end;

}

.mar{
    margin-right: 30px;
}

.mar1{
    margin-right:10px;
}

.div3{

        color:black;
        background-color:white;
        font-size: 20px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 20px;
        border-radius: 0%;
       padding:20px 40px 0px 40px;
        box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
        margin-right:20px;
        margin-left:25px;
        text-align: center;
        border-radius: 5px;
        align-content: center;
}


.div3:hover{
    transform:scale(1.02);
}


.img1{
    border-radius:0px;
    width:100%;
    height:110%;
}

#h{
    text-align: center;
    color:#193b84;
    font-family: 'Staatliches', cursive;
    font-size:50px;
}

.div2{

    color:whitesmoke;
  /*  background:linear-gradient(35deg,pink,pink,orange,pink);*/
  background:linear-gradient(140deg,#193b84 15%,#037bc1);
/*background:linear-gradient(140deg,rgb(195, 240, 240) 15%,whitesmoke);*/
    font-size: 20px;
   /* font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
   font-family: 'Questrial', sans-serif;
    font-weight: 20px;
    border-radius: 0%;
   padding:40px 40px 50px 40px;
  /*box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);*/
   margin-right:0px;
    margin-left:0px;
    text-align:center;  
    align-content:center;

}

.div4{
    color:#193b84;
  background:white;
  font-size: 10px;
   font-family: 'Questrial', sans-serif;
    font-weight:bold;
    border-radius: 0%;
   padding:40px 40px 50px 40px;
  box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
   margin-right:0px;
    margin-left:0px;
    text-align:justify;  
    align-content:justify;

}

.multic{
  /*  background:linear-gradient(90deg,pink,orange);*/
  background:linear-gradient(140deg,#193b84 15%,#037bc1);
    width:100%;
    transform: skewY(0deg);
}

.img2{
    width:658px;
    height:421px;
    margin-left: 0px;
}

#butt{
    color:black;
    background-color: azure;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 5px;
    font-size: 20px;
  /*  border-radius: 5%;*/
  border-radius: 25em;
    border-color: azure;
    border-style: solid;
   /*padding:10px 10px 10px 10px;*/
   padding: .8em 2em;
   /* box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);*/
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}

#butt:hover{
    transform:scale(1.02);
}

.circle{
    border-radius:50%;
    height:50%;
    width:50%;
}

.gen{
    color:#09476b;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 35px;
    font-size: 40px;
    text-align: center;
    
}

#gen{
    color:#09476b;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 35px;
    font-size: 40px;
    text-align: center;
    align-content: center;
    
}

.genn{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 35px;
    font-size: 40px;
    text-align: center;
    
}

/*form{
   background-image: url("https://lh3.googleusercontent.com/proxy/2JuaE9YmfUEWfb16Ffd19qOWYCvJd861sXbNCYaGq5EPihJjUggOdiZ1QpL3saHo8stvhR7QB5ZKUq6ShekQbxiFQ0Ny8mwP1LILg4GJgKaSQUE9cyU");
  background-color: white;
    text-align:center;
    font-weight: 5px;
    font-size: 30px;
    border-color: #193b84;
      margin: 5px 5px 5px 5px;

    border-style: dotted;
 
  
}*/

.inpu{
    color:black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 5px;
    font-size: 20px;
}

.colo{
    background:linear-gradient(140deg,#193b84 15%,#037bc1);

}

.edi{
    height:15%;
    width:20%;
}

.hh{
    font-weight:strong;
    background-color: white;
    font-size: 30px;
    color:black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sec{
    background-color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    font-weight: 5px;
    padding:20px 40px 40px 40px;
    text-align: justify;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
    align-content:space-around;
    font-size: 17px;
    border-style: dotted;
    border-color: rgb(167, 225, 243);
 
}



.end{
    background:white;
    color:#193b84;
    font-size: 16px;
    font-weight: bold;
    text-indent:5px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fm{
    color:black;
    background-color: azure;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 5px;
    font-size: 20px;
  /*  border-radius: 5%;
  border-radius: 25em;*/
    border-color:rgb(125, 188, 230);
    border-style:dotted;
   /*padding:10px 10px 10px 10px;*/
   padding: .5em 2em;
}